{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-main2 h-with-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column" >
                    <a class="center" href="https://gogoanime.so/tenki-no-ko-episode-1">
                        <img src="{% static 'images/tenkinoko.jpg' %}" alt="tenki no ko" style="height: 360px; width: 260px;" style="margin: ;">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column" >
                    <a class="center" href="https://gogoanime.so/kimi-no-na-wa-episode-1">
                        <img src="{% static 'images/kiminonawa.jpg' %}" alt="kimi no nawa" style="height: 360px; width: 260px;" style="margin: ;">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column" >
                    <a class="center" href="https://gogoanime.so/koe-no-katachi-movie-episode-1">
                        <img src="{% static 'images/koenokatachi.jpeg' %}" alt="koe no katachi" style="height: 360px; width: 260px;" style="margin: ;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}