{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div id="container2">
    <div class="col-lg-13" style="padding: 7%;" style="background-color: white;">
        <table class="table table-striped">
            <tr>
                <th>Interests</th>
                <th>Details</th>
                <th>Goals</th>
            </tr>
            <tr>
                <td>Linguistic</td>
                <td>I like learning new languages</td>
                <td>To learn 10 languages</td>
            </tr>
            <tr>
                <td>History</td>
                <td>I love mesopotamian history</td>
                <td>Finding out </td>
            </tr>
            <tr>
                <td>Politics</td>
                <td>I like hammurabbi's tactics and policies</td>
                <td>Able to read hammurabbi's codex</td>
            </tr>
            <tr>
                <td>Geography</td>
                <td>Learning about middle eastern terrain</td>
                <td>Learn more about iraqi climate</td>
            </tr>
            <tr>
                <td>Data Science</td>
                <td>I'm currently planning on learning data science</td>
                <td>Able to create my first AI</td>
            </tr>
            <tr>
                <td>WebDev</td>
                <td>Currently studying bootstrap</td>
                <td>Able to make my own website</td>
            </tr>
        </table>
    </div>
</div>


<div id="about">
    <div class="col" style="padding-left: 10%; padding-top: 2%; padding-bottom: 8%; background-color:rgb(59, 58, 58)">
        <div id="headinge">
            <h3 style="color: aliceblue;">About Me</h3>
        </div>
        <div class="container-fluid bg-main2 h-with-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                        <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column" style="background-color: aliceblue;">
                            <img class="img-thumbnail" src="{% static 'images/bahasa.jpg' %}">
                            <h3 class="text-dark">Language Nerd</h3>
                            <h4 class="text-dark">
                                I like to learn new<br>languages.<br>I currently speak 5<br>fluently and planning to <br> learn more in the future
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                        <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column" style="background-color: aliceblue;">
                            <img class="img-thumbnail" src="{% static 'images/francome.jpg' %}" style="height: -110%;">
                            <h3 class="text-dark">Biography</h3>
                            <h4 class="text-dark">
                                I am a student at <br>the University of Indonesia <br>Name : Nomad Jeff <br>Faculty : Computer Science <br>ID : 1906652000
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                        <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column" style="background-color: aliceblue;">
                            <img class="img-thumbnail" src="{% static 'images/french.png' %}">
                            <h3 class="text-dark">Je Parle Français</h3>
                            <h4 class="text-dark">
                                Je suis Francophone mais <br>pas de la terre <br>francophone.<br> J'ai appris la langue<br>pour 5 mois seulement
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div id="container3">
    <div class="col-lg-13" style="padding: 7%;" style="background-color: white;">
        <div id="headinge">
            <h3 style="color: aliceblue;">Experiences</h3>
        </div>
        
        <table class="table table-striped" style="background-color: aliceblue;">
            <tr>
                <th><h3>Portofolio</h3></th>
            </tr>
            <tr>
                <td>* Gold Medal, Computer Science competition in Asgardia</td>
            </tr>
            <tr>
                <td>* Nobel Award, The discovery of Dormammu's black dimention</td>
            </tr>
            <tr>
                <td>* The President of Nengushite Republic for 2 periods</td>
            </tr>
            <tr>
                <td>* WWE Championship, heavy weight championship</td>
            </tr>
            <tr>
                <td>* Invention, The invention of the two-headed stalagmite dragon</td>
            </tr>
            <tr>
                <td>* World's first professor to create 10.000 useless inventions</td>
            </tr>
        </table>
    </div>
</div>

<div id="contacter">
    <div id="contact-message">
        <h1> Me Contacter s'il vous plait<br>--------<>--------</h1>
    </div>
    <div class="social">
        <a href="https://gitlab.com/matthewsolomon_"><i class="fa fa-gitlab"></i></a>
        <a href="https://www.linkedin.com/mwlite/in/matthew-tumbur-parluhutan-solomon-siregar-55477b1ab"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/matthewsolomon_/?hl=en"><i class="fa fa-instagram"></i></a>
        <a href="https://steamcommunity.com/id/mattvdb3/"><i class="fa fa-steam"></i></a>
    </div>
</div>
{% endblock %}