html {
  scroll-behavior: smooth;
}

.navbar {
    background-color: rgb(255, 8, 8);
}

.tulisan {
    color: black;
    padding-left: 10%;
    padding-top: 4%;
}


#container2 {
    background-color: lightgray;
}


#container3 {
    background-color: rgb(46, 46, 46);
}


.row {
    object-position: center;
}

.pfp {
    border-radius: 50%;
    height: 10%;
    width: 10%;
    object-position: 0 0px;
    object-fit: cover;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20px;
}

.nav-item {
    color: black;
}

.navbar-nav {
    display: inline-block;
    color: black;
    margin-left: -34%;
    margin-top: 14%;
}

.social {
    padding-left: 8%;
}

#headinge {
    background-color: rgb(46, 46, 46);
}

.img-thumbnail {
    height: 260px;
    width: 260px;
}

#contact-message h1 {
    padding-top: 240px;
    text-align: center;
    color: black;
}

.fa {
    padding: 5%;
    font-size: 30px;
    width: 100;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 5%;
    object-position: 0 -8px;
    object-fit: cover;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-instagram {
    background: #aaff00;
    color: rgb(250, 85, 85);
  }
  
  .fa-gitlab {
    background: #aaff00;
    color: orangered;
  }

  .fa-linkedin {
    background: #aaff00;
    color: blue;
  }

  .fa-steam {
      background-color: #aaff00;
      color: rgb(0, 0, 64);
  }

  .social {
      margin-left: 24%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  