

{% extends 'story1applied/base.html' %}
{% load static %}
{% block content %}
<div class="avatar">
    <img src="https://instagram.fcgk23-1.fna.fbcdn.net/v/t51.2885-19/s320x320/120001061_126666902188771_1503669047854425620_n.jpg?_nc_ht=instagram.fcgk23-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=kQCOmgTn6WYAX-_hiW5&oh=99f1519b13a135c89dca6c8df626cd14&oe=5F93950E" alt="No pic">
</div>
<div class="content">
    <h1>Matthew T.P. Solomon</h1>
    <h3>Fakultas Ilmu Komputer UI</h3>
    <p> NPM : 1906308500<br>
        Hobi : linguistic, alin, sejarah mesopotamia<br>
        Angkatan : 2019<br>
        Tempat, Tanggal Lahir : Jakarta, 30 Oktober 2001<br>
        Ayah : E. Siregar<br>
        Ibu : A.R. Theresia<br>
        Institusi : Universitas Indonesia
    </p>
</div>
<div class="content">
    <h4>----------------<>----------------</h4>
    <h4>Riwayat Pendidikan</h4>
    <table>
        <thead>
            <tr>
                <th>Pendidikan</th>
                <th>Nama Institusi</th>
                <th>Rentang waktu</th>
                <th>Daerah</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Perkuliahan Jurusan Ilmu Komputer</th>
                <th>Universitas Indonesia</th>
                <th>2019 - Sekarang</th>
                <th>Depok/Jakarta Selatan</th>
            </tr>
            <tr>
                <th>Sekolah Menengah Atas</th>
                <th>SMAN 81 Jakarta</th>
                <th>2016 - 2019</th>
                <th>Jakarta Timur</th>
            </tr>
            <tr>
                <th>Sekolah Menengah Pertama</th>
                <th>SMPK 5 Penabur</th>
                <th>2013 - 2016</th>
                <th>Jakarta Timur</th>
            </tr>
            <tr>
                <th>Sekolah Dasar</th>
                <th>SDK 4 Penabur</th>
                <th>2010 - 2016</th>
                <th>Jakarta Timur</th>
            </tr>
        </tbody>
    </table>
</div>
<div class="content">
    <h5>Contact Me</h5>
</div>
<div class="social">
    <a href="https://gitlab.com/matthewsolomon_"><i class="fa fa-gitlab"></i></a>
    <a href="https://www.linkedin.com/mwlite/in/matthew-tumbur-parluhutan-solomon-siregar-55477b1ab"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.instagram.com/matthewsolomon_/?hl=en"><i class="fa fa-instagram"></i></a>
</div>
<div style="margin-top: 140px;">
    <h2>Je suis content que vous êtes venu dans mon site-internet. Je vous remercie</h2>
</div>
{% endblock %}